USE [master]
GO
/****** Object:  Database [classlog]    Script Date: 17.10.2017 11:04:29 ******/
CREATE DATABASE [classlog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'classlog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\classlog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'classlog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\classlog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [classlog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [classlog]
GO
USE [classlog]
GO
/****** Object:  Table [dbo].[abwesende]    Script Date: 17.10.2017 11:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[abwesende](
	[abwesenheits_id] [int] IDENTITY(1,1) NOT NULL,
	[lehrgangsinhalts_id] [int] NOT NULL,
	[teilnehmer_id] [int] NOT NULL,
	[abwesend_seit] [time](0) NULL,
	[abwesend_bis] [time](0) NULL,
	[abwesend_ganztägig] [bit] NULL,
	[grund] [nvarchar](64) NULL,
 CONSTRAINT [pk_abwesende] PRIMARY KEY CLUSTERED 
(
	[abwesenheits_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lehrgang]    Script Date: 17.10.2017 11:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lehrgang](
	[lehrgangs_id] [int] IDENTITY(1,1) NOT NULL,
	[beginn] [date] NULL,
	[ende] [date] NULL,
	[standort_id] [int] NOT NULL,
	[name] [nvarchar](160) NULL,
 CONSTRAINT [pk_lehrgang] PRIMARY KEY CLUSTERED 
(
	[lehrgangs_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lehrgang_teilnehmer]    Script Date: 17.10.2017 11:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lehrgang_teilnehmer](
	[lehrgangs_id] [int] NOT NULL,
	[teilnehmer_id] [int] NOT NULL,
 CONSTRAINT [PK_lehrgang_teilnehmer] PRIMARY KEY CLUSTERED 
(
	[lehrgangs_id] ASC,
	[teilnehmer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lehrgang_trainer]    Script Date: 17.10.2017 11:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lehrgang_trainer](
	[lehrgangs_id] [int] NOT NULL,
	[trainer_id] [int] NOT NULL,
 CONSTRAINT [PK_lehrgang_trainer] PRIMARY KEY CLUSTERED 
(
	[lehrgangs_id] ASC,
	[trainer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lehrgangsinhalte]    Script Date: 17.10.2017 11:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lehrgangsinhalte](
	[lehrgangsinhalts_id] [int] IDENTITY(1,1) NOT NULL,
	[lehrgangs_id] [int] NOT NULL,
	[trainer_id] [int] NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [pk_lehrgangsinhalte] PRIMARY KEY CLUSTERED 
(
	[lehrgangsinhalts_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lehrgangsinhalte_themen]    Script Date: 17.10.2017 11:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lehrgangsinhalte_themen](
	[lehrgangsinhalte_id] [int] NOT NULL,
	[themen_id] [int] NOT NULL,
 CONSTRAINT [PK_lehrgangsinhalte_themen] PRIMARY KEY CLUSTERED 
(
	[lehrgangsinhalte_id] ASC,
	[themen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[standorte]    Script Date: 17.10.2017 11:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[standorte](
	[standort_id] [int] IDENTITY(1,1) NOT NULL,
	[straße] [nvarchar](64) NOT NULL,
	[ort] [nvarchar](64) NOT NULL,
	[plz] [nchar](5) NOT NULL,
 CONSTRAINT [PK_standorte] PRIMARY KEY CLUSTERED 
(
	[standort_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teilnehmer]    Script Date: 17.10.2017 11:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teilnehmer](
	[teilnehmer_id] [int] IDENTITY(1,1) NOT NULL,
	[vorname] [nvarchar](64) NULL,
	[nachname] [nvarchar](64) NOT NULL,
 CONSTRAINT [pk_teilnehmer] PRIMARY KEY CLUSTERED 
(
	[teilnehmer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[themen]    Script Date: 17.10.2017 11:04:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[themen](
	[themen_id] [int] IDENTITY(1,1) NOT NULL,
	[titel] [nvarchar](64) NOT NULL,
	[beschreibung] [nvarchar](1024) NULL,
 CONSTRAINT [pk_themen] PRIMARY KEY CLUSTERED 
(
	[themen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trainer]    Script Date: 17.10.2017 11:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trainer](
	[trainer_id] [int] IDENTITY(1,1) NOT NULL,
	[vorname] [nvarchar](64) NULL,
	[nachname] [nvarchar](64) NOT NULL,
 CONSTRAINT [pk_trainer] PRIMARY KEY CLUSTERED 
(
	[trainer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[abwesende]  WITH CHECK ADD  CONSTRAINT [fk_lehrgangsinhalte-abwesende] FOREIGN KEY([lehrgangsinhalts_id])
REFERENCES [dbo].[lehrgangsinhalte] ([lehrgangsinhalts_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[abwesende] CHECK CONSTRAINT [fk_lehrgangsinhalte-abwesende]
GO
ALTER TABLE [dbo].[abwesende]  WITH CHECK ADD  CONSTRAINT [fk_teilnehmer-abwesende] FOREIGN KEY([teilnehmer_id])
REFERENCES [dbo].[teilnehmer] ([teilnehmer_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[abwesende] CHECK CONSTRAINT [fk_teilnehmer-abwesende]
GO
ALTER TABLE [dbo].[lehrgang]  WITH CHECK ADD  CONSTRAINT [fk_standorte_lehrgang] FOREIGN KEY([standort_id])
REFERENCES [dbo].[standorte] ([standort_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lehrgang] CHECK CONSTRAINT [fk_standorte_lehrgang]
GO
ALTER TABLE [dbo].[lehrgang_teilnehmer]  WITH CHECK ADD  CONSTRAINT [fk_lehrgang-lehrgang_teilnehmer] FOREIGN KEY([lehrgangs_id])
REFERENCES [dbo].[lehrgang] ([lehrgangs_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lehrgang_teilnehmer] CHECK CONSTRAINT [fk_lehrgang-lehrgang_teilnehmer]
GO
ALTER TABLE [dbo].[lehrgang_teilnehmer]  WITH CHECK ADD  CONSTRAINT [fk_teilnehmer-lehrgang_teilnehmer] FOREIGN KEY([teilnehmer_id])
REFERENCES [dbo].[teilnehmer] ([teilnehmer_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lehrgang_teilnehmer] CHECK CONSTRAINT [fk_teilnehmer-lehrgang_teilnehmer]
GO
ALTER TABLE [dbo].[lehrgang_trainer]  WITH CHECK ADD  CONSTRAINT [fk_lehrgang-lehrgang_trainer] FOREIGN KEY([lehrgangs_id])
REFERENCES [dbo].[lehrgang] ([lehrgangs_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lehrgang_trainer] CHECK CONSTRAINT [fk_lehrgang-lehrgang_trainer]
GO
ALTER TABLE [dbo].[lehrgang_trainer]  WITH CHECK ADD  CONSTRAINT [fk_trainer-lehrgang_trainer] FOREIGN KEY([trainer_id])
REFERENCES [dbo].[trainer] ([trainer_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lehrgang_trainer] CHECK CONSTRAINT [fk_trainer-lehrgang_trainer]
GO
ALTER TABLE [dbo].[lehrgangsinhalte]  WITH CHECK ADD  CONSTRAINT [fk_lehrgang-lehrgangsinhalte] FOREIGN KEY([lehrgangs_id])
REFERENCES [dbo].[lehrgang] ([lehrgangs_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lehrgangsinhalte] CHECK CONSTRAINT [fk_lehrgang-lehrgangsinhalte]
GO
ALTER TABLE [dbo].[lehrgangsinhalte]  WITH CHECK ADD  CONSTRAINT [fk_trainer-lehrgangsinhalte] FOREIGN KEY([trainer_id])
REFERENCES [dbo].[trainer] ([trainer_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lehrgangsinhalte] CHECK CONSTRAINT [fk_trainer-lehrgangsinhalte]
GO
ALTER TABLE [dbo].[lehrgangsinhalte_themen]  WITH CHECK ADD  CONSTRAINT [fk_lehrgangsinhalte-lehrgangsinhalte_themen] FOREIGN KEY([lehrgangsinhalte_id])
REFERENCES [dbo].[lehrgangsinhalte] ([lehrgangsinhalts_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lehrgangsinhalte_themen] CHECK CONSTRAINT [fk_lehrgangsinhalte-lehrgangsinhalte_themen]
GO
ALTER TABLE [dbo].[lehrgangsinhalte_themen]  WITH CHECK ADD  CONSTRAINT [fk_themen-lehrgangsinhalte_themen] FOREIGN KEY([themen_id])
REFERENCES [dbo].[themen] ([themen_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lehrgangsinhalte_themen] CHECK CONSTRAINT [fk_themen-lehrgangsinhalte_themen]
GO
USE [master]
GO
